<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <typeAliases>
        <typeAlias type="com.example.ordersystem.pojo.User" alias="user"/>
        <typeAlias type="com.example.ordersystem.pojo.Order" alias="order"/>
        <typeAlias type="com.example.ordersystem.pojo.OrderItem" alias="orderItem"/>
        <typeAlias type="com.example.ordersystem.pojo.BlanketOrder" alias="blanketOrder"/>
        <typeAlias type="com.example.ordersystem.pojo.Food" alias="food"/>
        <typeAlias type="com.example.ordersystem.pojo.User" alias="merchant"/>


    </typeAliases>
    <mappers>
        <mapper resource="com/example/ordersystem/mapper/UserMapper.xml"/>
        <mapper resource="com/example/ordersystem/mapper/OrderMapper.xml"/>
        <mapper resource="com/example/ordersystem/mapper/FoodMapper.xml"/>
        <mapper resource="com/example/ordersystem/mapper/AdminMapper.xml"/>


    </mappers>
</configuration>