/*基础样式*/
[v-cloak]{
    display: none;
}
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 150px;
    background: #555;
}
.swiper-container{
    margin-bottom: 150px;
}
#se{
    overflow: hidden;
    width: 100%;
    background: #fff;
    top: 0;
}
.login-status{
    position: absolute;
    color: black;
    right: 0;
}
.login-status span{
    color: orangered;
}
.search{
    text-align: center;
    height: 40px;
}
.search img{
    position: relative;
    left: 38px;
    top: 8px;
}
.search input{
    height: 80%;
    padding-left: 40px;
    width: 120px;
    overflow: hidden;
    border: 1px solid blue;
}
.search input::-webkit-input-placeholder{
    /* placeholder颜色  */
    color: #aab2bd;
    /* placeholder字体大小  */
    font-size: 16px;
    /* placeholder位置  */
    text-align: center;
}
.search button{
    display: inline-block;
    height: 80%;
    width: 30px;
    border: none;
    background-color: aquamarine;
}
.search-block{
    width: 25%;
    float: left;
    text-align: center;
    background: #eee;
}
.search-result{
    width: 75%;
    text-align: center;
    float: left;
}
.confirm{
    display: inline-block;
    margin: 10px auto;
    font-size: larger;
    background-color: burlywood;
    border: 1px solid red;
}
.swiper-container-ul{
    list-style: none;
    overflow: hidden;
    width: 100%;
    background: #fff;
    top: 0;
}
.swiper-container-ul-li{
    width: 50%;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
}
.actives{
    border-bottom: 1px solid #3190e8;
    color: #3190e8;
}
.content{
    width: 100%;
    overflow: hidden;
}
.left{
    top: 81px;
    float: left;
    width: 25%;
    height: 100%;
    background: #eee;
}
.left ul{
    list-style: none;
}
.left ul li{
    padding: 15px 5px;
    text-align: center;
}
.active{
    background: #fff;
    border-left: 2px solid #3190e8;
}
.right{
    float: left;
    width: 75%;
    height: 100%;
}
.right ul{
    list-style: none;
}
.class-title{
    padding: 7px 10px;
    background: #eee;
}
.item{
    overflow: hidden;
    width: 100%;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.item-left{
    float: left;
}
.item-right{
    float: left;
    padding: 0 10px;
}
.item-detail{
    float: right;
    margin-right: 50px;
}
.item-detail a{
    text-decoration: none;
}
.add input{
    width: 40px;
    text-align: center;
}
.add button{
    width: 20px;
}
.add .b1{
    width: auto;
}
.item-img{
    width: 100px;
    height: 100px;
    background: #eee;
}
.item-img img{
    width: 100%;
}
.title{
    width: 150px;
    height: 20px;
    margin-top: 10px;
    background: #eee;
    text-align: center;
}
.subtitle{
    width: 70px;
    height: 20px;
    margin-top: 10px;
    background: #eee;
}
.material{
    height: 20px;
    margin-top: 10px;
    background: #ffaaff;
}
.price{
    width: 110px;
    height: 20px;
    margin-top: 10px;
    background: #eee;
}
.shop-car{
    background-color: antiquewhite;
    text-align: center;
    position: fixed;
    list-style: none;
    overflow: scroll;
    border: 1px solid aqua;
    width: 100%;
    height: 100px;
    bottom: 0;
}
.clear-shop{
    position: absolute;
    border: none;
    background-color: crimson;
    right: 0;
}
.submit{
    color: #ffaaff;
}